/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6F8F9;
    font-family: Arial, Helvetica, sans-serif;
}

header, nav, main{
    background-color: white;
    margin-bottom: 50px;
}

nav div, main{
    padding-left: 60px;
}

.container{
    width: 1200px;
    margin: 0 auto;
   border-radius: 5px; 
}

/* Header */

header div{
    margin-left: 20px;
    padding-bottom: 10px;
}

header div h1{
    display: inline-block;
    padding-top: 10px;
    
}

header div img{
    vertical-align: middle;
}


/* Nav */
.navigator{
    margin-bottom:2px;
}


.button{
    padding-bottom:10px;
    padding-top: 20px;
}

.first-button, .second-button{
    padding: 5px;
    border-radius: 10%;
}

.first-button{
    background-color: #47ADF1;
    border: 2px solid #47ADF1;
    color: white
    
}

.second-button{
    background-color: white;
    border: 2px solid lightgray;
    color:lightgray;
}
/* /Nav */

/* Main */
h3{
    font-size: 25px;
}

.list{
    padding-top: 30px;
}

.layer{
    padding-top: 10px;
    padding-bottom: 30px;
}

.category{
    font-size: 12px;
    border-radius: 20px;
    margin-left: 5px;
    padding: 8px 20px;
}

.symbol{
    font-size: 10px;
    border-radius: 50%;
    padding: 3px;
    margin-right: 10px;
}

.checkmark{
    color:green;
    border: 1px solid green;
}

.cross{
    color:red;
    border: 1px solid red;
}

.editorial{
    background-color: #47ADF1;
    color:white;
}

.q1-goals{
    background-color: #9C72E4;
    color:white;
}

.recruiting{
    background-color: #64C0A9;
    color:white;
}

.mobile{
    background-color: #F29E33;
    color:white;
}

.website{
    background-color: #D863A1;
    color:white;
}

.sales{
    background-color: #B0C926;
    color:white;
}